.react-chatbot-kit-chat-input {
    font-size: 16px;
    /* Ensure the input field font size is at least 16px */
    /* box-sizing: border-box; */
    /* Make sure padding and border are included in width and height */
    /* overflow-y: hidden; */
    /* Hide vertical scrollbar */
    /* resize: none; */
    /* Prevent manual resizing by the user */
    /* min-height: 40px; */
    /* Set a minimum height */
    /* max-height: 200px; */
    /* Set a maximum height to prevent it from growing too much */
    width: 100%;
    /* Full width */
}

.react-chatbot-kit-chat-bot-message {
    font-size: 16px;
    /* Adjust the font size as desired */
    /* box-sizing: border-box; */
    /* Make sure padding and border are included in width and height */
    /* overflow-y: hidden; */
    /* Hide vertical scrollbar */
    /* resize: none; */
    /* Prevent manual resizing by the user */
    /* min-height: 50px; */
    /* Set a minimum height */
    /* max-height: 200px; */
    /* Set a maximum height to prevent it from growing too much */
    /* Full width */
    width: 70%;
}

.react-chatbot-kit-user-message {
    font-size: 16px;
    /* Ensure user messages match bot messages if desired */
}